<div class="pie__wrapper">
  <svg class="chart" width="200" height="200" viewBox="0 0 50 50">
    <circle class="pie__section"
            r="15.9"
            cx="50%"
            cy="50%"
            *ngFor="let rating of ratings; let index = index"
            [ngStyle]="{
            'stroke': setSectionColor(rating.title),
            'stroke-dasharray': setSectionLength(rating.percent),
            'stroke-dashoffset': setSectionOffset(index, ratings)
             }"
    ></circle>
  </svg>
  <app-chart-legend [chartData]="ratings" [sectionColors]="sectionColors"></app-chart-legend>
</div>
