:root {
  --primary: #F6F5F5;
  --black: #000000;
  --orange: #E89924;
  --grey: #878787;
  --top-border-radius: 20px 20px 0 0;
  --bottom-border-radius: 0 0 20px 20px;
  --secondary-orange: #ffb700;
}
