@use "../../../../styles/mixins";

:host {
  max-width: 200px;
  width: 100%;
}

.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 0;
  border-right: 2px solid var(--orange);
}

.navigation__item {
  color: var(--black);
  @include mixins.text;
  text-decoration: none;
  transition: .3s ease-in-out;

  &:hover {
    color: var(--orange);
  }

  &.active {
    color: var(--orange);
  }
}

