@use "./styles/_variables";
@use './styles/_mixins';

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  //overflow-x: hidden;
}

@font-face {
  font-family: InterRegular;
  src: url("./assets/fonts/Inter/static/Inter-Regular.ttf");
}

._container {
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 1300px;
  width: 100%;
}

._hidden {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

._page-title {
  @include mixins.main-title;
  margin-bottom: 40px;
}

._block {
  overflow: hidden;
}
